@model IEnumerable<SeaBattleASP.Models.Ship>
@{
    ViewData["Title"] = "Setting Page";
}

    <table class="table">
        <tr>
            <td>Width:</td>
            <td>@ViewData["Width"]</td>
        </tr>
        <tr>
            <td>Height:</td>
            <td>@ViewData["Height"]</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>Range</td>
            <td>Decks</td>
        </tr>
        @foreach (Ship p in Model)
        {
            <tr>
                <td>@p.GetType()</td>
                <td>@p.Range</td>
                @foreach (Deck d in p.Decks)
                {
                    <td>@d.State</td>
                }
            </tr>
        }
    </table>
