@model SeaBattleASP.Models.MapModel

@{
    ViewData["Title"] = "Setting Page";
}

<table class="table">
    <tr>
        <td>Width:</td>
        <td>@Model.width</td>
    </tr>
    <tr>
        <td>Height:</td>
        <td>@Model.height</td>
    </tr>
    <tr>
        <td>Type</td>
        <td>Range</td>
        <td>Decks</td>
    </tr>
    @foreach (KeyValuePair<int, Ship> p in Model.Ships)
    {
        <tr>
            <td>@p.Key</td>
            <td>@p.Value.GetType()</td>
            <td>@p.Value.Range</td>
            @foreach (DeckCell d in p.Value.DeckCells)
            {
                <td>@d.Deck.State</td>
            }
        </tr>
    }
</table>
