@model SeaBattleASP.Models.MapModel

@{
    ViewData["Title"] = "StartGame Page";
}

<script type="text/javascript">
    var width = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.width));
    var height = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.height));
</script>

<section>
    <div id="leftFieldText">
        <p>Игрок1</p>
        <div id="leftText"></div>
        <div id="leftField">
            <div id="leftShade">
            </div>
        </div><div id="leftTextLeft"></div>
    </div>
    <div id="rightFieldText">
        <p>Игрок2</p>
        <div id="rightText"></div>
        <div id="rightField">
            <div id="rightShade">
            </div>
        </div><div id="rightTextLeft"></div>
    </div>
    <div id="shipsPanel">
        <h5>Ships:</h5>
    </div>
</section>

<button id="btnAddShips" type="button" name="btnAddShips">Add Ships</button>
<button id="startGame" onclick="return startGame()">Start game</button>
<button id="makeStep">Make step</button>
<input type="button" id="sendButton" value="Make a step" />

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<div class="modal fade" id="ModalPopUp" role="dialog">
    <div class="modal-dialog err-pop" style="">
        <div class="modal-content">
            <div class="modal-header">
                <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="text-align:center;">
                <table class="table">
                    @foreach (KeyValuePair<int, Ship> p in Model.Ships)
                    {
                        <tr>
                            <td>@p.Key</td>
                            <td>@p.Value.Range</td>
                            <td>@p.Value.GetType()</td>
                            <td><button id="@p.Key" onclick="return selectShip(@p.Key)">Select</button></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
